<h1> <%= @project.name %> </h1>

<% if flash[:notice] %> 
  <%= flash[:notice] %> 
<% end %> 
<ul>
	<% @time_entries.each do |entry| %>
		<li> 
			<strong> Hours: </strong><%= entry.hours %>
			<strong> Minutes: </strong><%= entry.minutes %>
			<strong> Date: </strong><%= entry.date %>
			<%= image_tag @project.logo.url(:big)%>
			<a href="/projects/<%= @project.id %>/time_entries/<%= entry.id %>/edit">Edit</a>
			<%= link_to('Delete', project_time_entry_path(@project, entry),
			method: :delete, data: { confirm: 'Are you sure?' }) %>
			
		</li>
	<% end %>

</ul>